Trac == 1.0
Pygments == 1.6
dnspython == 1.11.1
spambayes == 1.1b1
psycopg2 == 2.2.2
docutils == 0.7

# Trac plugins
svn+http://svn.edgewall.com/repos/trac/plugins/1.0/spam-filter@12543
svn+http://trac-hacks.org/svn/xmlrpcplugin/trunk@13710
TracWatchlistPlugin == 1.0
trac-github == 2.0

-e ./DjangoPlugin
