Trac==1.2.6
Pygments==2.5.2
dnspython==1.15
spambayes == 1.1b1
psycopg2-binary==2.7.6.1
docutils==0.14
Django==2.2.24
libsass==0.17.0

# Trac plugins
TracSpamFilter==1.2.7
TracXMLRPC==1.1.9

oauthlib==2.1.0
requests==2.20.1
requests-oauthlib==1.0.0
trac-github==2.3

-e ./DjangoPlugin
