Trac == 0.12.2
Pygments == 1.4
dnspython == 1.8.0
psycopg2 == 2.2.2
docutils == 0.7

# Trac plugins
svn+http://trac-hacks.org/svn/batchmodifyplugin/0.12/trunk@9250
svn+http://svn.edgewall.com/repos/trac/plugins/0.12/spam-filter-captcha@10597
svn+http://trac-hacks.org/svn/xmlrpcplugin/trunk@9250
TracWatchlistPlugin==1.0

-e git://github.com/hvr/trac-git-plugin.git@722342ef03639415d7a1dc0230239d34cb97d988#egg=TracGit-dev
-e git://github.com/davglass/github-trac.git@ef0041201a641204ecdbbd5320d769fcf619f5f7#egg=GithubPlugin-dev

./DjangoPlugin
