<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
  <head py:match="head" py:attrs="select('@*')">
    ${select('*|comment()|text()')}
  </head>

  <body py:match="body" py:attrs="select('@*')">


    <div class="ticket-readme">
      <h2>Read This First</h2>
      
      <ul>
        <li><strong>Don’t report security issues here!</strong> See our guidelines for <a href="https://docs.djangoproject.com/en/dev/internals/security/#reporting-security-issues">Reporting Security Issues.</a></li>
        <li><strong>Don’t use this form for general questions.</strong> To ask for help, click <a href="https://docs.djangoproject.com/en/dev/faq/help/">Getting Help</a> or click here for <a href="https://docs.djangoproject.com/en/dev/faq/">Django FAQ</a></li>
      </ul>

      <h2>What Type of Issue</h2>
        <h3>Django Project Code Issues</h3>
          <p>Use the form below to create new tickets. For best responses: </p>
            <ul>
               <li> Follow the <a href= "https://docs.djangoproject.com/en/dev/internals/contributing/bugs-and-features/#reporting-bugs">Reporting Bugs Guidelines </a></li>
               <li> Follow the <a href= "https://docs.djangoproject.com/en/dev/internals/contributing/writing-code/submitting-patches/#patch-style">Patch Style Guidelines </a></li>
               <li> Go through the <a href= "https://docs.djangoproject.com/en/dev/internals/contributing/writing-code/submitting-patches/#patch-review-checklist">Bug Checklist</a></li>
               <li> Use Preview button below to check your formatting. Click here for <a href= "https://code.djangoproject.com/wiki/WikiFormatting">Formatting Guide</a></li>
            </ul>
          
        <h3>Django Website Issues</h3>
          <p>For issues with the djangoproject.com website or subdomains (
            <strong>www</strong>.djangoproject.com, 
            <strong>docs</strong>.djangoproject.com, 
            <strong>dashboard</strong>.djangoproject.com ) report here:</p>
            
            <ul>
              <li> <a href="https://github.com/django/djangoproject.com/issues">djangoproject.com issues on GitHub</a></li></ul>

          <p>For issues with the bug tracker code, ( <strong>code</strong>.djangoproject.com ) report here:</p>
            <ul>
              <li><a href="https://github.com/django/code.djangoproject.com/issues">Bug tracker issues on GitHub </a></li></ul>

        <h3>Bugs with Translation?</h3>
           <p>See instructions for <a href="https://docs.djangoproject.com/en/dev/internals/contributing/localizing/#translations">Reporting Translation issues using Transifex.</a></p>

    </div>
    ${select('*|text()')}
  </body>
  <h2> Create New Ticket </h2>
  <xi:include href="ticket.html" />
</html>
