<div role="contentinfo">
  <div class="subfooter">
    <div class="container">
      <h1 class="visuallyhidden">Django Links</h1>
      <div class="column-container">
        <div class="col-learn-more">
          <h2>Learn More</h2>
          <ul>
            <li><a href="https://www.djangoproject.com/overview/">About Django</a></li>
            <li><a href="https://www.djangoproject.com/start/">Getting Started with Django</a></li>
            <li><a href="https://docs.djangoproject.com/en/dev/internals/organization/">Team Organization</a></li>
            <li><a href="https://www.djangoproject.com/foundation/">Django Software Foundation</a></li>
            <li><a href="https://www.djangoproject.com/conduct/">Code of Conduct</a></li>
            <li><a href="https://www.djangoproject.com/diversity/">Diversity Statement</a></li>
          </ul>
        </div>

        <div class="col-get-involved">
          <h2>Get Involved</h2>
          <ul>
            <li><a href="https://www.djangoproject.com/community/">Join a Group</a></li>
            <li><a href="https://docs.djangoproject.com/en/dev/internals/contributing/">Contribute to Django</a></li>
            <li><a href="https://docs.djangoproject.com/en/dev/internals/contributing/bugs-and-features/#reporting-security-issues">Submit a Bug</a></li>
            <li><a href="https://docs.djangoproject.com/en/dev/internals/security/">Report a Security Issue</a></li>
            <li><a href="https://www.djangoproject.com/foundation/individual-members/">Individual membership</a></li>
          </ul>
        </div>

        <div class="col-get-help">
          <h2>Get Help</h2>
          <ul>
            <li><a href="https://docs.djangoproject.com/en/dev/faq/">Getting Help FAQ</a></li>
            <li><a href="https://chat.djangoproject.com" target="_blank">Django Discord</a></li>
            <li><a href="https://forum.djangoproject.com/" target="_blank">Official Django Forum</a></li>
          </ul>
        </div>

        <div class="col-follow-us">
          <h2>Follow Us</h2>
          <ul>
            <li><a href="http://github.com/django">GitHub</a></li>
            <li><a href="https://twitter.com/djangoproject">Twitter</a></li>
            <li><a href="https://fosstodon.org/@django" rel="me">Fediverse (Mastodon)</a></li>
            <li><a href="https://www.djangoproject.com/rss/weblog/">News RSS</a></li>
          </ul>
        </div>

        <div class="col-support-us">
          <h2>Support Us</h2>
          <ul>
            <li><a href="https://www.djangoproject.com/fundraising/">Sponsor Django</a></li>
            <li><a href="https://www.djangoproject.com/foundation/corporate-membership/">Corporate membership</a></li>
            <li><a href="https://django.threadless.com/" target="_blank">Official merchandise store</a></li>
            <li><a href="https://www.djangoproject.com/foundation/donate/#benevity-giving">Benevity Workplace Giving Program</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <div class="footer">
    <div class="container">
      <div class="footer-logo">
        <a class="logo" href="https://djangoproject.com/">Django</a>
      </div>
      <ul class="thanks">
        <li>
          <span>Hosting by</span> <a class="in-kind-donors" href="https://www.djangoproject.com/fundraising/#in-kind-donors">In-kind donors</a>
        </li>
        <li class="design"><span>Design by</span> <a class="threespot" href="http://www.threespot.com">Threespot</a> <span class="ampersand">&amp;</span> <a class="andrevv" href="http://andrevv.com/"></a></li>
      </ul>
      <p class="copyright">&copy; 2005-${date.today().year}
        <a href="https://djangoproject.com/foundation/"> Django SoftwareFoundation</a>
        unless otherwise noted. Django is a
        <a href="https://djangoproject.com/trademarks/">registered trademark</a>
        of the Django Software Foundation.
      </p>
    </div>
  </div>
</div>

<script src="${href.chrome('site/js/mobile-menu.js')}"></script>
