<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      py:strip="">
  <head py:match="head" py:attrs="select('@*')">
    ${select('*|comment()|text()')}

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="${href.chrome('site/css/output-ie.css')}" />
     <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="${href.chrome('site/css/output.css')}" />
    <!--<![endif]-->
    <link rel="stylesheet" href="${href.chrome('site/css/trachacks.css')}" />
    <!--! uncomment for local version of webfont loader if desired. -->
    <!--! <script src="${href.chrome('site/js/lib/webfont.js')}"></script> -->
    <script src="//ajax.googleapis.com/ajax/libs/webfont/1.5.6/webfont.js"></script>
    <script>
    WebFont.load({
        google: {
            families: ['Inconsolata:400,700:latin', 'Roboto:400italic,700italic,300,700,400:latin']
        }
    });
    </script>
    <script src="${href.chrome('site/js/lib/modernizr.js')}"></script>
    <py:if test="req.environ['PATH_INFO'].startswith('/ticket/')">
      <script type="text/javascript" src="${href.chrome('site/tickethacks.js')}"></script>
    </py:if>
  </head>

  <body py:match="body" py:attrs="select('@*')" id="generic">


    <div role="banner" id="top">
      <div class="container">
        <a class="logo" href="https://www.djangoproject.com/">Django</a>
        <p class="meta">The web framework for perfectionists with deadlines.</p>
        <nav role="navigation">
          <ul>
            <li><a href="https://www.djangoproject.com/">Overview</a></li>
            <li><a href="https://www.djangoproject.com/download/">Download</a></li>
            <li><a href="https://docs.djangoproject.com/">Documentation</a></li>
            <li><a href="https://www.djangoproject.com/weblog/">News</a></li>
            <li><a href="https://www.djangoproject.com/community/">Community</a></li>
            <li class="active"><a href="/">Code</a></li>
            <li><a href="https://www.djangoproject.com/foundation/">About</a></li>
            <li><a href="https://www.djangoproject.com/fundraising/">&#9829; Donate</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="copy-banner">
      <div class="container">
        <h1>Code</h1>
      </div>
    </div>

    <py:if test="req.environ['PATH_INFO'] == '/'">
      <div class="container sidebar-right">
        <div role="main">
          ${select('./div[@id="banner"]/div[@id="metanav"]')}
          ${select('./div[@id="mainnav"]')}
          ${select('./div[@id="main"]')}
          <a href="#top" class="backtotop"><i class="icon icon-chevron-up"></i> Back to Top</a>
        </div>
        <div role="complementary">
          <form action="/search/" id="sidebar_search" class="search form-input" role="search">
            <label class="visuallyhidden" for="q">Search:</label>
            <input id="id_sidebar_search_q" name="q" placeholder="Search Trac" type="search" />

            <button type="submit">
              <i class="icon icon-search"></i>
              <span class="visuallyhidden">Search</span>
            </button>
          </form>
          <h3>Useful links</h3>
          <dl>
            <dt><a href="https://docs.djangoproject.com/en/dev/internals/contributing/">Contribution Guide</a></dt>
            <dd>You'd like to contribute to Django but don't know how? This document will explain our process and how to get involved.</dd>

            <dt><a href="/query?status=!closed&amp;easy=1">"Easy Pickings"</a></dt>
            <dd>First time contributor and you're looking for something manageable? The "easy pickings" list is a good start.</dd>

            <dt><a href="https://docs.djangoproject.com/en/dev/internals/security/">Security Policy</a></dt>
            <dd>You found a security issue in Django? You'd like to know more about our security policy? It's all in there.</dd>

            <dt><a href="https://github.com/django/django">GitHub</a></dt>
            <dd>Want to peek under the hood and see Django's source code, file or help review a pull request? It's all on GitHub.</dd>

            <dt><a href="https://dashboard.djangoproject.com/">Django Dashboard</a></dt>
            <dd>Confused about Trac's filtering system? This dashboard shows easy-to-read metrics and has links to pre-set filters to get you started.</dd>

            <dt><a href="irc://irc.freenode.net/django-dev">#django-dev IRC channel</a></dt>
            <dd>Questions about a ticket? Stuck on how to write a unit test for your pull request? Come chat with us!</dd>
          </dl>
        </div>
      </div>
    </py:if>
    <py:if test="req.environ['PATH_INFO'] != '/'">
      <div class="container full-width">
        <div role="main">
          ${select('./div[@id="banner"]/div[@id="metanav"]')}
          ${select('./div[@id="mainnav"]')}
          ${select('./div[@id="main"]')}
          <a href="#top" class="backtotop"><i class="icon icon-chevron-up"></i> Back to Top</a>
        </div>
      </div>
    </py:if>

    <div role="contentinfo">
      <div class="subfooter">
        <div class="container">
          <h1 class="visuallyhidden">Django Links</h1>

          <div class="col learn">
            <h2>Learn More</h2>
            <ul>
              <li><a href="https://www.djangoproject.com/overview/">About Django</a></li>
              <li><a href="https://www.djangoproject.com/start/">Getting Started with Django</a></li>
              <li><a href="https://www.djangoproject.com/foundation/">Django Software Foundation</a></li>
              <li><a href="https://www.djangoproject.com/conduct/">Code of Conduct</a></li>
            </ul>
          </div>

          <div class="col involved">
            <h2>Get Involved</h2>
            <ul>
              <li><a href="https://www.djangoproject.com/community/">Join a Group</a></li>
              <li><a href="https://docs.djangoproject.com/en/dev/internals/contributing/">Contribute to Django</a></li>
              <li><a href="https://docs.djangoproject.com/en/dev/internals/contributing/bugs-and-features/#reporting-security-issues">Submit a Bug</a></li>
              <li><a href="https://docs.djangoproject.com/en/dev/internals/security/">Report a Security Issue</a></li>
            </ul>
          </div>

          <div class="col follow">
            <h2>Follow Us</h2>
            <ul>
              <li><a href="http://github.com/django">GitHub</a></li>
              <li><a href="https://twitter.com/djangoproject">Twitter</a></li>
              <li><a href="https://www.djangoproject.com/rss/weblog/">News RSS</a></li>
              <li><a href="https://groups.google.com/forum/#!forum/django-users">Django Users Mailing List</a></li>
            </ul>
          </div>

        </div>
      </div>

      <div class="footer">
        <div class="container">
          <div class="footer-logo">
            <a class="logo" href="https://djangoproject.com/">Django</a>
          </div>
          <ul class="thanks">
            <li><span>Hosting by</span> <a class="rackspace" href="http://rackspace.com">Rackspace</a></li>
            <li class="design"><span>Design by</span> <a class="threespot" href="http://www.threespot.com">Threespot</a> <span class="ampersand">&amp;</span> <a class="andrevv" href="http://andrevv.com/"></a></li>
          </ul>
          <p class="copyright">&copy; 2005-${date.today().year}
              <a href="https://djangoproject.com/foundation/"> Django Software
              Foundation</a> unless otherwise noted. Django is a
              <a href="https://djangoproject.com/trademarks/">registered
              trademark</a> of the Django Software Foundation.
          </p>
        </div>
      </div>
    </div>


  <script data-main="${href.chrome('site/js/main.js')}" src="${href.chrome('site/js/lib/require.js')}"></script>
  </body>
</html>
