<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="${href.chrome('site/css/output.css')}" />
<link rel="stylesheet" href="${href.chrome('site/css/trachacks.css')}" />
<!--! uncomment for local version of webfont loader if desired. -->
<!--! <script src="${href.chrome('site/js/lib/webfont.js')}"></script> -->
<script src="//ajax.googleapis.com/ajax/libs/webfont/1.5.6/webfont.js"></script>
<script>
  WebFont.load({
    google: {
      families: ['Inconsolata:400,700:latin', 'Roboto:400italic,700italic,300,700,400:latin']
    }
  });
</script>
# if req.path_info.startswith('/ticket/'):
  <script type="text/javascript" src="${href.chrome('site/tickethacks.js')}"></script>
# endif
# if req.path_info.startswith('/query'):
  <script type="text/javascript" src="${href.chrome('site/queryhacks.js')}"></script>
# endif
