@font-face {
  font-family: 'Colfax';
  src: url("../fonts/colfax/ColfaxWebMedium.eot");
  src: url("../fonts/colfax/ColfaxWebMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/colfax/ColfaxWebMedium.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Colfax';
  src: url("../fonts/colfax/ColfaxWebRegular.eot");
  src: url("../fonts/colfax/ColfaxWebRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/colfax/ColfaxWebRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
/* line 89, _utils.scss */
html {
  font-size: 62.5%;
}

/* line 3, trachacks.scss */
:link, :visited {
  border-bottom: 0;
  color: #20AA76;
}
/* line 6, trachacks.scss */
:link:hover, :visited:hover {
  background-color: transparent;
  color: #52dea9;
}

/* line 12, trachacks.scss */
.subfooter :link:hover, .subfooter :link:hover {
  color: #F1FFF7;
}

/* line 19, trachacks.scss */
.inlinebuttons input {
  border-radius: 5px;
  height: 2.5em;
}

/* line 25, trachacks.scss */
div.trac-content {
  box-shadow: 0 0 0;
}

/* line 30, trachacks.scss */
.foldable :link, .foldable :visited {
  box-shadow: 0 0 0;
  text-shadow: 0 0;
  border-color: #CFE3DC;
  border-radius: 5px;
  background-color: #C9F0DD;
  color: #0C3C26;
}
/* line 37, trachacks.scss */
.foldable :link:hover, .foldable :visited:hover {
  background-color: #93D7B7;
  color: #0C3C26;
}

/* line 44, trachacks.scss */
#ticket {
  background-color: #F1FFF7;
  border-color: #CFE3DC;
}
/* line 47, trachacks.scss */
#ticket table.properties {
  border-top-color: #CFE3DC;
}
/* line 49, trachacks.scss */
#ticket table.properties th, #ticket table.properties th.missing {
  color: #0C3C26;
}
/* line 54, trachacks.scss */
#ticket .description h3 {
  color: #0C3C26;
  border-bottom-color: #CFE3DC;
}
/* line 59, trachacks.scss */
#ticket h2 :link {
  color: #20AA76;
}
/* line 61, trachacks.scss */
#ticket h2 :link:hover {
  color: #52dea9;
}
/* line 65, trachacks.scss */
#ticket .date {
  color: #0C3C26;
}

/* line 71, trachacks.scss */
div[role="main"] #metanav {
  font-family: sans-serif;
}
/* line 74, trachacks.scss */
div[role="main"] #metanav ul {
  text-align: left;
}
/* line 78, trachacks.scss */
div[role="main"] #metanav ul li {
  border-right: 0;
  padding: 1em;
}
/* line 82, trachacks.scss */
div[role="main"] #metanav ul li a {
  font-size: 16px;
  color: #20AA76;
}
/* line 86, trachacks.scss */
div[role="main"] #metanav ul li a:hover {
  text-decoration: underline;
}
/* line 91, trachacks.scss */
div[role="main"] #metanav ul li.first {
  padding-left: 0;
}
/* line 98, trachacks.scss */
div[role="main"] #mainnav {
  box-shadow: 0 0 0;
  border: 0;
  border-radius: 0;
  margin: .66em 0 .33em 7px;
}
/* line 104, trachacks.scss */
div[role="main"] #mainnav ul {
  text-align: left;
  font-size: 16px;
}
/* line 108, trachacks.scss */
div[role="main"] #mainnav ul li {
  background: #C9F0DD;
  border: 0;
  border-radius: 0;
  text-align: center;
  padding: 0.5em 0 0.5em 0;
}
/* line 115, trachacks.scss */
div[role="main"] #mainnav ul li a, div[role="main"] #mainnav ul li a:hover {
  box-shadow: 0 0 0;
  background: none;
  font-family: sans-serif;
  color: #0C4B33 !important;
}
/* line 121, trachacks.scss */
div[role="main"] #mainnav ul li.first {
  padding-left: 0;
  border-radius: 3px 0 0 3px;
}
/* line 124, trachacks.scss */
div[role="main"] #mainnav ul li.first :link {
  border-radius: 0;
}
/* line 128, trachacks.scss */
div[role="main"] #mainnav ul li.last {
  padding-left: 0;
  border-radius: 0 3px 3px 0;
}
/* line 131, trachacks.scss */
div[role="main"] #mainnav ul li.last :link {
  border-radius: 0;
}
/* line 135, trachacks.scss */
div[role="main"] #mainnav ul li:hover {
  background: #93D7B7;
}
/* line 138, trachacks.scss */
div[role="main"] #mainnav ul li.active {
  background: #44B78B;
}
/* line 140, trachacks.scss */
div[role="main"] #mainnav ul li.active a {
  background: none;
  color: #F1FFF7 !important;
  text-shadow: 0 0;
}
/* line 150, trachacks.scss */
div[role="main"] #main {
  font-family: sans-serif !important;
  text-shadow: 0 0 !important;
  box-shadow: 0 0 0 !important;
}
/* line 155, trachacks.scss */
div[role="main"] #main fieldset {
  box-shadow: 0 0 0 !important;
  background: white !important;
  border: 1px solid #CFE3DC;
}
/* line 159, trachacks.scss */
div[role="main"] #main fieldset table, div[role="main"] #main fieldset th, div[role="main"] #main fieldset tr {
  font-family: sans-serif !important;
  font-size: 14px !important;
}
/* line 164, trachacks.scss */
div[role="main"] #main fieldset legend a {
  box-shadow: 0 0 0 !important;
  text-shadow: 0 0 !important;
  color: #0C3C26;
  font-weight: normal;
  font-size: 14px;
}
/* line 174, trachacks.scss */
div[role="main"] #main button, div[role="main"] #main input[type="submit"] {
  background: #44B78B;
  border: none;
  color: #F1FFF7;
  padding: 0.7em 1em;
  font-size: 16px;
  font-weight: normal;
  box-shadow: 0 0 0 !important;
  text-shadow: 0 0 !important;
}
@media screen and (min-device-width: 768px) {
  /* line 174, trachacks.scss */
  div[role="main"] #main button, div[role="main"] #main input[type="submit"] {
    right: 1%;
  }
}
/* line 188, trachacks.scss */
div[role="main"] #main button i, div[role="main"] #main input[type="submit"] i {
  font-size: 20px;
  font-size: 2rem;
  line-height: 1;
}
/* line 193, trachacks.scss */
div[role="main"] #main button:hover, div[role="main"] #main button:focus, div[role="main"] #main button:active, div[role="main"] #main input[type="submit"]:hover, div[role="main"] #main input[type="submit"]:focus, div[role="main"] #main input[type="submit"]:active {
  outline: none;
  background: #51be95;
}
/* line 201, trachacks.scss */
div[role="main"] #main table.listing {
  box-shadow: 0 0 0;
}
/* line 204, trachacks.scss */
div[role="main"] #main table.listing thead tr {
  background: #C9F0DD;
}
/* line 207, trachacks.scss */
div[role="main"] #main table.listing thead tr th {
  background: #C9F0DD;
  border-bottom-color: #d7d7d7;
  font-family: sans-serif !important;
  font-size: 14px;
  font-weight: normal;
  color: #0C3C26;
  padding: 0.5em;
}
/* line 215, trachacks.scss */
div[role="main"] #main table.listing thead tr th a {
  color: #0C3C26;
}
/* line 224, trachacks.scss */
div[role="main"] #ctxtnav {
  display: none;
}

/*# sourceMappingURL=trachacks.css.map */
