@font-face {
  font-family: 'Colfax';
  src: url("../fonts/colfax/ColfaxWebMedium.eot");
  src: url("../fonts/colfax/ColfaxWebMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/colfax/ColfaxWebMedium.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Colfax';
  src: url("../fonts/colfax/ColfaxWebRegular.eot");
  src: url("../fonts/colfax/ColfaxWebRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/colfax/ColfaxWebRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }
html {
  font-size: 62.5%; }

a {
  border-bottom: 0px !important; }

a:hover {
  background: none !important; }

.subfooter a:hover {
  color: #F1FFF7 !important; }

div[role="main"] #metanav {
  font-family: sans-serif; }
  div[role="main"] #metanav ul {
    text-align: left; }
    div[role="main"] #metanav ul li {
      border-right: 0;
      padding: 1em; }
      div[role="main"] #metanav ul li a {
        font-size: 16px;
        color: #20AA76; }
        div[role="main"] #metanav ul li a:hover {
          text-decoration: underline; }
      div[role="main"] #metanav ul li.first {
        padding-left: 0; }
div[role="main"] #mainnav {
  box-shadow: 0 0 0;
  border: 0;
  border-radius: 0;
  margin: .66em 0 .33em 7px; }
  div[role="main"] #mainnav ul {
    text-align: left;
    font-size: 16px; }
    div[role="main"] #mainnav ul li {
      background: #C9F0DD;
      border: 0;
      border-radius: 0;
      text-align: center;
      padding: 0.5em 0 0.5em 0; }
      div[role="main"] #mainnav ul li a, div[role="main"] #mainnav ul li a:hover {
        box-shadow: 0 0 0;
        background: none;
        font-family: sans-serif;
        color: #0C4B33 !important; }
      div[role="main"] #mainnav ul li.first {
        padding-left: 0;
        border-radius: 3px 0 0 3px; }
      div[role="main"] #mainnav ul li.last {
        padding-left: 0;
        border-radius: 0 3px 3px 0; }
      div[role="main"] #mainnav ul li:hover {
        background: #93D7B7; }
      div[role="main"] #mainnav ul li.active {
        background: #44B78B; }
        div[role="main"] #mainnav ul li.active a {
          background: none;
          color: #F1FFF7 !important;
          text-shadow: 0 0; }
div[role="main"] #main {
  font-family: sans-serif !important;
  text-shadow: 0 0 !important;
  box-shadow: 0 0 0 !important; }
  div[role="main"] #main fieldset {
    box-shadow: 0 0 0 !important;
    background: white !important;
    border: 1px solid #CFE3DC; }
    div[role="main"] #main fieldset table, div[role="main"] #main fieldset th, div[role="main"] #main fieldset tr {
      font-family: sans-serif !important;
      font-size: 14px !important; }
    div[role="main"] #main fieldset legend a {
      box-shadow: 0 0 0 !important;
      text-shadow: 0 0 !important;
      color: #0C3C26;
      font-weight: normal;
      font-size: 14px; }
  div[role="main"] #main button, div[role="main"] #main input[type="submit"] {
    background: #44B78B;
    border: none;
    color: #F1FFF7;
    padding: 0.7em 1em;
    font-size: 16px;
    font-weight: normal;
    box-shadow: 0 0 0 !important;
    text-shadow: 0 0 !important; }
    @media screen and (min-device-width: 768px) {
      div[role="main"] #main button, div[role="main"] #main input[type="submit"] {
        right: 1%; } }
    div[role="main"] #main button i, div[role="main"] #main input[type="submit"] i {
      font-size: 20px;
      font-size: 2rem;
      line-height: 1; }
    div[role="main"] #main button:hover, div[role="main"] #main button:focus, div[role="main"] #main button:active, div[role="main"] #main input[type="submit"]:hover, div[role="main"] #main input[type="submit"]:focus, div[role="main"] #main input[type="submit"]:active {
      outline: none;
      background: #51be95; }
  div[role="main"] #main table.listing {
    box-shadow: 0 0 0; }
    div[role="main"] #main table.listing thead tr {
      background: #C9F0DD; }
      div[role="main"] #main table.listing thead tr th {
        background: #C9F0DD;
        border-bottom-color: #d7d7d7;
        font-family: sans-serif !important;
        font-size: 14px;
        font-weight: normal;
        color: #0C3C26;
        padding: 0.5em; }
        div[role="main"] #main table.listing thead tr th a {
          color: #0C3C26; }
div[role="main"] #ctxtnav {
  display: none; }

/*# sourceMappingURL=trac.css.map */
