@import "utils";

body, th, tr { // reset trac default
    font-size: medium;
    line-height: normal;
}

:link, :visited {
  border-bottom: 0;
  color: $green;
  &:hover{
    background-color: transparent;
    color: lighten($green, 20%);
  }
}
.subfooter :link {
  &:hover,
  &:hover {
    color: $white;
  }
}

.inlinebuttons {
  input {
    border-radius: 5px;
    height: 2.5em;
  }
}

div.trac-content {
  box-shadow: none;
}

.full-width [role="main"] {
  max-width: 960px;
}

#changelog h3 {
  box-shadow: 0 .4em .4em 0 #f2f2f2;
  margin-bottom: 30px;
  padding: 5px;
}

#changelog .comment {
  width: 70%;
}

#changelog p {
  line-height: 1.4;
}

.trac-ticket-buttons {
  float: right;
  padding-bottom: 20px;
  width: 30%;
}

pre.wiki {
  box-shadow: none;
  margin-left: 0;
  margin-right: 0;
  padding: 0.5em;
  overflow: scroll;
  white-space: pre;
}

#content.ticket {
  width: auto;
}

.foldable {
  :link, :visited {
    box-shadow: none;
    text-shadow: none;
    border-color: $gray-line;
    border-radius: 5px;
    background-color: $green-very-light;
    color: $text;
    &:hover {
      background-color: $green-light;
      color: $text;
    }
  }
}


#field-description,
#comment {
  width: 97%; // XXX: it should be 100% - 1em
}

legend {
  color: $text;
  font-weight: normal;
  font-size: medium;
}

#filters td label {
  // reset trac default
  font-size: medium;
}

blockquote.citation {
  // Replace trac's default with values from _style.css for blockquote
  // TODO: figure out how to centralize this instead of copy/pasting it here
  margin: 25px 0;
  border: 1px solid $green-very-light;
  padding: 15px 20px 15px 70px;
}

#ticket {
  background-color: $white;
  border-color: $gray-line;
  table.properties {
    border-top-color: $gray-line;
    th, th.missing {
      color: $text;
    }
  }
  .description {
    h3 {
      color: $text;
      border-bottom-color: $gray-line;
    }
  }
  h2 :link {
    color: $green;
    &:hover {
      color: lighten($green, 20%);
    }
  }
  .date {
    color: $text;
  }
}

div[role="main"]{
  #metanav {
    font-family: sans-serif;

    ul {
      text-align: left;


      li {
        border-right: 0;
        padding: 1em;

        a {
          font-size: 16px;
          color: $green;

          &:hover {
            text-decoration: underline;
          }
        }

        &.first {
          padding-left: 0;
        }
      }
    }
  }

  #mainnav {
    box-shadow: none;
    border: 0;
    border-radius: 0;
    margin: .66em 0 .33em 7px;

    ul {
      text-align: left;
      font-size: 16px;

      li {
        background: $green-very-light;
        border: 0;
        border-radius: 0;
        text-align: center;
        padding: 0.5em 0 0.5em 0;

        a, a:hover {
          box-shadow: none;
          background: none;
          font-family: sans-serif;
          color: $green-dark;
        }
        &.first {
            padding-left: 0;
            border-radius: 3px 0 0 3px;
            :link {
              border-radius: 0;
            }
        }
        &.last {
            padding-left: 0;
            border-radius: 0 3px 3px 0;
            :link {
              border-radius: 0;
            }
        }
        &:hover {
          background: $green-light;
        }
        &.active {
          background: $green-medium;
          a {
            background: none;
            color: $white;
            text-shadow: none;
          }
        }
      }
    }
  }

  #main {
    font-family: sans-serif;
    text-shadow: none;
    box-shadow: none;

    form input[type="search"],
    form input[type="text"],
    form input[type="email"],
    form input[type="password"],
    form textarea {
      // reset some general styles from output.css
      height: auto;
      padding: 0.25em 0.5em;
      margin: 2px;
      font-size: medium;
    }
    form select {
      height: auto;
      padding: 0.25em 0.5em;
      margin: 2px;
      font-size: medium;
    }

    fieldset {
      box-shadow: none;
      background: white;
      border: 1px solid $gray-line;
      table, th, tr {
        font-size: 14px;
      }
    }

    button, input[type="submit"] {
      background: $green-medium;
      border: none;
      color: $white;
      padding: 0.7em 1em;
      font-size: 16px;
      font-weight: normal;
      box-shadow: none;
      text-shadow: none;

      @include device-min(768px) {
        right: 1%;
      }

      i {
        @include font-size(20);
        line-height: 1;
      }

      &:hover,
      &:focus,
      &:active {
        outline: none;
        background: lighten($green-medium, 4%);
      }
    }

    .inlinebuttons input[type="submit"] {
      background: #ddd;
      color: #444;
      font-size: 1.1rem;
    }

    .inlinebuttons input[type="submit"]:hover {
      background: #666;
      color: #eee;
    }

    table.listing {
      box-shadow: none;
      thead {
        tr {
          background: $green-very-light;

          th {
            background: $green-very-light;
            border-bottom-color: #d7d7d7;
            font-size: 14px;
            font-weight: normal;
            color: $text;
            padding: 0.5em;
            a {
              color: $text;
            }
          }
        }
      }
      tbody {
        tr {
          td {
            padding: 0.5em !important; // :(
          }
        }
      }
    }
  }

  #ctxtnav {
    float: right;
  }
}
