@import "utils";

a {
  border-bottom: 0px !important;
}
a:hover {
  background: none !important;
}
.subfooter a:hover {
  color: $white !important;
}

div[role="main"]{
  #metanav {
    font-family: sans-serif;

    ul {
      text-align: left;


      li {
        border-right: 0;
        padding: 1em;

        a {
          font-size: 16px;
          color: $green;

          &:hover {
            text-decoration: underline;
          }
        }

        &.first {
          padding-left: 0;
        }
      }
    }
  }

  #mainnav {
    box-shadow: 0 0 0;
    border: 0;
    border-radius: 0;
    margin: .66em 0 .33em 7px;

    ul {
      text-align: left;
      font-size: 16px;

      li {
        background: $green-very-light;
        border: 0;
        border-radius: 0;
        text-align: center;
        padding: 0.5em 0 0.5em 0;

        a, a:hover {
          box-shadow: 0 0 0;
          background: none;
          font-family: sans-serif;
          color: $green-dark !important;
        }
        &.first {
            padding-left: 0;
            border-radius: 3px 0 0 3px;
        }
        &.last {
            padding-left: 0;
            border-radius: 0 3px 3px 0;
        }
        &:hover {
          background: $green-light;
        }
        &.active {
          background: $green-medium;
          a {
            background: none;
            color: $white !important;
            text-shadow: 0 0;
          }
        }
      }
    }
  }

  #main {
    font-family: sans-serif !important;
    text-shadow: 0 0 !important;
    box-shadow: 0 0 0 !important;

    fieldset {
      box-shadow: 0 0 0 !important;
      background: white !important;
      border: 1px solid $gray-line;
      table, th, tr {
        font-family: sans-serif !important;
        font-size: 14px !important;
      }
      legend {
        a {
          box-shadow: 0 0 0 !important;
          text-shadow: 0 0 !important;
          color: $text;
          font-weight: normal;
          font-size: 14px;
        }
      }
    }

    button, input[type="submit"] {
  		background: $green-medium;
  		border: none;
  		color: $white;
  		padding: 0.7em 1em;
      font-size: 16px;
      font-weight: normal;
      box-shadow: 0 0 0 !important;
      text-shadow: 0 0 !important;

  		@include device-min(768px) {
  			right: 1%;
  		}

  		i {
  			@include font-size(20);
  			line-height: 1;
  		}

  		&:hover,
  		&:focus,
  		&:active {
  			outline: none;
        background: lighten($green-medium, 4%);
  		}
  	}

    table.listing {
      box-shadow: 0 0 0;
      thead {
        tr {
          background: $green-very-light;

          th {
            background: $green-very-light;
            border-bottom-color: #d7d7d7;
            font-family: sans-serif !important;
            font-size: 14px;
            font-weight: normal;
            color: $text;
            padding: 0.5em;
            a {
              color: $text;
            }
          }
        }
      }
    }
  }

  #ctxtnav {
    display: none;
  }
}
