name: Tests

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  DJANGO_SETTINGS_MODULE: tracdjangoplugin.settings_tests
  PYTHONWARNINGS: >
    error,
    default:pkg_resources::trac,
    default:Deprecated call to `pkg_resources.declare_namespace::pkg_resources,
    default:::passlib,default:version_info::trac.db.sqlite_backend,

jobs:
  noshadows:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - run: pip install "tinycss2>=1.2.0"
      - run: python noshadows.py --tests

  tracdjangoplugin:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install system package dependencies
        run: |
          sudo apt-get update
          sudo apt-get -y install subversion
      - name: Install requirements
        run: python -m pip install -r requirements.txt
      - name: Run tests
        run: python -m django test tracdjangoplugin.tests

  traccheck:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install system package dependencies
        run: |
          sudo apt-get update
          sudo apt-get -y install subversion
      - name: Install requirements
        run: python -m pip install -r requirements.txt
      - name: Lint Trac configuration
        run: python traccheck.py lint trac-env/
      - name: Check frozen Trac components
        run: python traccheck.py components --check .TRACFREEZE.txt trac-env/
